.navbar {
  margin: 0;
  padding: 0;

  .nav-container {
    .nav-top {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .logo img {
        width: 40%;
      }
      .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        li {
          margin-right: 3rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          line-height: 1px;

          .iconMsg {
            font-size: 1.5rem;
            color: #9d4e95;
          }

          .iconNotif {
            font-size: 1.5rem;
            color: #9d4e95;
          }

          .card {
            border: 0.2px solid #d9eaf3;
            background: #ebedee;

            .card-body {
              padding: 0.5rem;
              display: flex;
              justify-content: space-between;
              align-items: center;

              p {
                font-size: 0.9rem;
                font-weight: 400;
                margin-right: 1rem;
              }

              .card-btn {
                padding: 0.2rem;
                border-radius: 8px;
                background: #9d4e95;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
